code{white-space: pre-wrap;}
span.smallcaps{font-variant: small-caps;}
div.columns{display: flex; gap: min(4vw, 1.5em);}
div.column{flex: auto; overflow-x: auto;}
div.hanging-indent{margin-left: 1.5em; text-indent: -1.5em;}
/* The extra [class] is a hack that increases specificity enough to
   override a similar rule in reveal.js */
ul.task-list[class]{list-style: none;}
ul.task-list li input[type="checkbox"] {
  font-size: inherit;
  width: 0.8em;
  margin: 0 0.8em 0.2em -1.6em;
  vertical-align: middle;
}
.display.math{display: block; text-align: center; margin: 0.5rem auto;}
/* CSS for syntax highlighting */
pre > code.sourceCode { white-space: pre; position: relative; }
pre > code.sourceCode > span { line-height: 1.25; }
pre > code.sourceCode > span:empty { height: 1.2em; }
.sourceCode { overflow: visible; }
code.sourceCode > span { color: inherit; text-decoration: inherit; }
div.sourceCode { margin: 1em 0; }
pre.sourceCode { margin: 0; }
@media screen {
div.sourceCode { overflow: auto; }
}
@media print {
pre > code.sourceCode { white-space: pre-wrap; }
pre > code.sourceCode > span { text-indent: -5em; padding-left: 5em; }
}
pre.numberSource code
  { counter-reset: source-line 0; }
pre.numberSource code > span
  { position: relative; left: -4em; counter-increment: source-line; }
pre.numberSource code > span > a:first-child::before
  { content: counter(source-line);
    position: relative; left: -1em; text-align: right; vertical-align: baseline;
    border: none; display: inline-block;
    -webkit-touch-callout: none; -webkit-user-select: none;
    -khtml-user-select: none; -moz-user-select: none;
    -ms-user-select: none; user-select: none;
    padding: 0 4px; width: 4em;
    color: #aaaaaa;
  }
pre.numberSource { margin-left: 3em; border-left: 1px solid #aaaaaa;  padding-left: 4px; }
div.sourceCode
  {   }
@media screen {
pre > code.sourceCode > span > a:first-child::before { text-decoration: underline; }
}
code span.al { color: #ff0000; font-weight: bold; } /* Alert */
code span.an { color: #60a0b0; font-weight: bold; font-style: italic; } /* Annotation */
code span.at { color: #7d9029; } /* Attribute */
code span.bn { color: #40a070; } /* BaseN */
code span.bu { color: #008000; } /* BuiltIn */
code span.cf { color: #007020; font-weight: bold; } /* ControlFlow */
code span.ch { color: #4070a0; } /* Char */
code span.cn { color: #880000; } /* Constant */
code span.co { color: #60a0b0; font-style: italic; } /* Comment */
code span.cv { color: #60a0b0; font-weight: bold; font-style: italic; } /* CommentVar */
code span.do { color: #ba2121; font-style: italic; } /* Documentation */
code span.dt { color: #902000; } /* DataType */
/*xxx code span.dv { color: #40a070; } xxx*//* DecVal */
/*xxx code span.er { color: #ff0000; font-weight: bold; } xxx*//* Error */
code span.ex { } /* Extension */
/*xxx code span.fl { color: #40a070; }  xxx*//* Float */
code span.fu { color: #06287e; } /* Function */
code span.im { color: #008000; font-weight: bold; } /* Import */
code span.in { color: #60a0b0; font-weight: bold; font-style: italic; } /* Information */
code span.kw { color: #007020; font-weight: bold; } /* Keyword */
code span.op { color: #666666; } /* Operator */
code span.ot { color: #007020; } /* Other */
code span.pp { color: #bc7a00; } /* Preprocessor */
code span.sc { color: #4070a0; } /* SpecialChar */
code span.ss { color: #bb6688; } /* SpecialString */
code span.st { color: #4070a0; } /* String */
code span.va { color: #19177c; } /* Variable */
code span.vs { color: #4070a0; } /* VerbatimString */
code span.wa { color: #60a0b0; font-weight: bold; font-style: italic; } /* Warning */

code span.dv { color: #000000; } /* DecVal */
code span.er { color: #000000; } /* Error */
code span.fl { color: #000000; } /* Float */

p {
  margin-top:4.0pt;
  margin-right:0in;
  margin-bottom:4.0pt;
  margin-left:0in;
  font-size:10.0pt;
  font-family:"Liberation Sans",sans-serif;
}
p.title, li.title, div.title {
  margin-top:0in;
  margin-right:0in;
  margin-bottom:10.0pt;
  margin-left:0in;
  border:none;
  padding:0in;
  font-size:24.0pt;
  font-family:"Liberation Sans",sans-serif;
  color:#446CAA;
  font-weight:bold;
}
p.sub-title, li.sub-title, div.sub-title {
  margin-top:0in;
  margin-right:0in;
  margin-bottom:10.0pt;
  margin-left:0in;
  border:none;
  padding:0in;
  font-size:18.0pt;
  font-family:"Liberation Sans",sans-serif;
  color:#446CAA;
  font-weight:bold;
}
p.titlepage-info, li.titlepage-info, div.titlepage-info {
  margin-top:6.0pt;
  margin-right:0in;
  margin-bottom:0in;
  margin-left:0in;
  page-break-after:avoid;
  font-size:10.0pt;
  font-family:"Liberation Sans",sans-serif;
  color:#446CAA;
  font-weight:bold;
}

p.notices, li.notices, div.notices {
  margin-top:0in;
  margin-right:0in;
  margin-bottom:10.0pt;
  margin-left:0in;
  page-break-before:always;
  border:none;
  padding:0in;
  font-size:18.0pt;
  font-family:"Liberation Sans",sans-serif;
  color:#446CAA;
  font-weight:bold;
}

p.dense {
  line-height: 0.9;
}

a {
  text-decoration: none;
}

dt {
  font-weight: bold;
}

@counter-style offset-1 {
  system: numeric;
  prefix: "1.";
}

@counter-style offset-2 {
  system: numeric;
  prefix: "2.";
}

ol.toc-1 {
  list-style-type: none;
  list-style-position: outside;
  margin-left: -2.5em;
  font-size: 1rem;
}

ol.toc-2 {
  list-style-type: none;
  list-style-position: outside;
  margin-left: -1.8em;
  font-size: 0.9rem;
}

ol.toc-3 {
  list-style-type: none;
  list-style-position: outside;
  margin-left: -1.2em;
  font-size: 0.8rem;
}

ol.toc-4 {
  list-style-type: none;
  list-style-position: outside;
  margin-left: -0.6em;
  font-size: 0.7rem;
}
ul > li {
  font-size:10.0pt;
  font-family:"Liberation Sans",sans-serif;
}
